body {
  background-color: #EEEEEE;
}

#title {
  align-items: center;
  border-radius: 10px;
  box-shadow: -4px -4px 4px 0 white, 4px 4px 4px 0 rgba(0, 0, 0, 0.03);
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 10px;
}

#grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  width: 500px;
  height: 500px;
  border-style: solid;
  border-width: 7px;
  border-color: black;
  background-color: black;
  margin-top: 20px;
  margin-top: 10px;
  border-radius: 10px;
  box-shadow: -4px -4px 4px 0 rgba(0, 0, 0, 0.03), 4px 4px 4px 0 white;
}

#container {
  height: 1000px;
  width: 600px;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  box-shadow: -4px -4px 4px 0 white, 4px 4px 4px 0 rgba(0, 0, 0, 0.03);
}

.pannel {
  background-color: #EEEEEE;
  font-family: Nunito;
  font-weight: 600;
  text-align: center;
  font-size: 80px;
  border-style: solid;
  border-width: 5px;
  border-color: black;
  border-radius: 10px;
}

h1 {
  font-family: Nunito;
  font-size: 100px;
  margin-bottom: 10px;
  margin-top: 10px;
  text-align: center;
}

p {
  margin: 0;
  padding: 0;
  margin-top: 14px;
  font-family: Nunito;
  text-align: center;
}

button {
  font-family: Nunito;
  border-style: none;
  border-radius: 10px;
  box-shadow: -4px -4px 4px 0 white, 4px 4px 4px 0 rgba(0, 0, 0, 0.03);
}

#startbtn {
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  height: 75px;
  width: 200px;
  font-family: Nunito;
  font-size: 50px;
}

#arrow {
  margin-top: 10px;
  border-radius: 10px;
  box-shadow: -4px -4px 4px 0 white, 4px 4px 4px 0 rgba(0, 0, 0, 0.03);
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  margin-top: 10px;
}

.arrows {
  width: 60px;
  height: 40px;
  font-size: 20px;
}

.noColor {
  background-color: #EEEEEE;
  border-radius: 20px;
  border-width: 15px;
}

.color1 {
  background-color: #f2e6ff;
}

.color2 {
  background-color: #e6ccff;
}

.color3 {
  background-color: #d9b3ff;
}

.color4 {
  background-color: #cc99ff;
}

.color5 {
  background-color: #bf80ff;
  color: white;
}

.color6 {
  background-color: #b366ff;
  color: white;
}

.color7 {
  background-color: #a64dff;
  color: white;
}

.color8 {
  background-color: #9933ff;
  color: white;
  font-size: 60px;
}

.color9 {
  background-color: #8c1aff;
  color: white;
  font-size: 60px;
}

.color10 {
  background-color: #8000ff;
  color: white;
  font-size: 60px;
}

.color11 {
  background-color: #7300e6;
  color: white;
  font-size: 40px;
}

.color12 {
  background-color: #6600cc;
  color: white;
  font-size: 40px;
}